*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  font-size: 40px;
}

.container {
  font-family: 'Open Sans', sans-serif;
  background: gray;
  color: hsl(210, 36%, 96%);
  line-height: 1.5;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s linear;
}

.text-color {
  font-size: 40px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 25px;
  background: #000;
  transition: all 0.3s linear;
  color: #fff;
}

.button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: #000;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s linear;
  border: 2px solid #000;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  font-size: 15px;
  padding: 10px 15px;
}

.button:hover {
  color: #fff;
  background: #000;
}
